body{
    background-color: rgb(137, 207, 240);
}

.container-fluid{
    margin-top:1rem;
    width: 90%;
}

#input-textbox{
    width:100%;
    margin: 0.5rem auto 0.5rem auto;
    height: 70vh;
}

#learn-button{
    float:right;
}

.highlight {
    background-color: yellow;
    text-decoration: underline;
}

.error{
    background-color: orange;
}


.hide{
      display: none;
  }

#display-text{
    border: black solid 4px;
    border-radius: 10px;
    padding: 5px;
    height: 70vh;
    overflow-y: auto;
    font-family: "Comic Sans MS";
    font-size: 2rem;
    background-color: white;
    word-wrap: break-word;
}

